h2 {
    font-family: monospace;
}

img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}